@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    
    
}

ul{
    list-style-type: none;
    padding: 50;
    margin: 50;
}


#ancora{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-90deg, lawngreen, lightblue);
    opacity: 0.9;
    
    }


.brand{
        position: fixed;
    
        text-align: center;

        z-index: 50;
        
    
    }
.menu .brand{
        padding-left: 0px;
        padding-top: 0px;
        margin: 10px;
        list-style: none;
        background-color: red;
        float: left;
        color:#d6d6d6;
        text-decoration: none;
        border-bottom: 3px solid #14130f;
        opacity: 0.9;
	    filter: alpha(opacity = 0.9em);
    
    }
.menu ul{
        text-align: center;
        padding: 0px;       
        margin: 0px;
        list-style: none;
        background: linear-gradient(-90deg, black, grey);
    }
.menu ul li{
        display: inline;
    }
.menu ul li a{
        padding: 2px 10px;
        display: inline-block;
    
        background-color: #333;
        color: #D6D6D6;
        text-decoration: none;
        border-bottom: 3px solid #ecebe5;
    
    }
    
.menu ul li a:hover{
        background-color:red;
        color:#333;
        border-bottom: 3px solid #D6D6D6; 
    }

body{
        background-image: url("../img/fundo.jpg");
        background-repeat: no-repeat;
        background-position: center top; 
         background-size: 100%;   

        
          
    }

p{
        text-align: center;
        
        
    }

    h1{

        font-family: Edwardian Script ITC;
        font-size: 40pt;
        color:grey;
        text-shadow: 2px 2px 2px white;
    

    }

    h2{

        font-family: New Roman;
        font-size: 15pt;
        color:rgb(56, 49, 49);
        opacity: 10;
        filter: alpha(opacity = 100);
    }
    
    h3{

        font-family: Edwardian Script ITC;
        font-size: 35pt;
        color:red;
        text-shadow: 2px 2px 2px black;
    }

    h4{

        font-family: New Roman;
        font-size: 20pt;
        color:rgb(219, 15, 15);
        opacity: 10;
        filter: alpha(opacity = 100);
    }


    h5{
            
        font-family: Baskerville Old Face;
        font-size: 20pt;
        color: white;
        opacity: 09;
        filter: alpha(opacity = 100);
        text-shadow: 2px 2px  black;
        
    }
    




footer p{

     
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        
        
        
        
    }
footer span{
    

        font-size: 0.8em;
    }
.preto{
    background: #333;
    color: #ccc;
}
.social li{
    display: inline-block;
    margin: 1%;

}

